.section-card {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

.RelatGS-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.GSfilterSai {
    flex-wrap: wrap;
    margin: 1rem 1rem 0 0;
}

.GSselectfilter {
    display: flex;
    text-align: center;
}

.GSfilterTitle {
    margin-top: 16px;
    padding: 0px 0px 0px 10px;
}

.GSclasSelAno {
    display: flex;
    background: #ebe9e9;
    border-radius: 15px;
    padding: 8px;
    margin: 16px 0px 0px 16px;
}

.GSclasSelMes {
    text-align: center;
    background: #ebe9e9;
    border-radius: 15px;
    padding: 8px;
    margin: 16px 0px 0px 16px;
}

.GSbtntitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100%;
    padding: 10px;
    margin-top: 19px;
    border-radius: 25px;
    background: #017f8d;
    cursor: pointer;
}

.GSbtnAtualiza {
    background: none;
    color: #fff;
    font-size: 1rem;
}

