* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.app {
    display: flex;
    background-color: #ebe9e9;
  }
  
  .main {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    margin: 20px 10px 0px 20px;
  }
  
  
  .sidebar {
    display: flex;
    margin-top: 20px;
    width: 15vw;
    height: 100vh; 
    flex-wrap: wrap;
    background-color: #017f8d; 
    border-radius: 20px;
    margin-left: 10px;
  }
  
  .footer {
    text-align: center;
    margin-top: auto;
    padding: 8px; 
    border-radius: 20px;
    color: #333;
    font-size: 12px; 
  }