.sidebarUl {
    list-style: none;
}

.sidebar {
    justify-content: center;
    transition: all 0.5s linear;
}

.sidebarUl {
    height: 87%;
    position: relative;
    list-style: none;
}

.sidebarUl li {
    padding: 1rem;
    margin: 20px;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.sidebarUl li:hover {
    background: #e0e0e058;
}


.sidebarUl a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1rem;
}

.logout {
    position: absolute;
    bottom: 0px;
    width: 80%;
}

.logo {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100px;
}

