.LançOferDirContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2rem;
}

.LançOferDirTipo {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.LançOferDirName {
    display: flex;
    flex-direction: column;
}


.LançOferDirButton {
    text-align: center;
}

.LançOferDirTipo 
select, 
.LançOferDirName 
input
{
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 6px;
}